body{
    background-color: rgb(235, 107, 60);
    align-items: center;
}
h1{
    text-align: center;
}
#form{
    box-shadow: 1px 1px 1px #AAA;
    background-color: white;
    
    margin: auto;
    width: 400px;
    padding: 10px 10px;
}
.txt{  
    width: 90%;
}
#lang-select {
    width: 90%;
}
textarea{
    width: 90%;
}
.submit{
    background-color: rgb(211, 149, 32);
    width: 90%;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
}